* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


a {
  text-decoration: none;
  background-color: none;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 400;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: #111;
  line-height: calc(24 / 16);
  overflow-x: hidden;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

p {
  font-size: 1rem;
}

@media (max-width: 780px) {

  html {
    font-size: 16px;
  }
  main h2 {
    font-size: 2rem;
  }
  main > section {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }
}
@media (max-width: 420px) {
  main > section {
    padding: 60px 5px;
  }
  :root{
    --padding:15px
  }
}

ul {
  line-height: calc(32 / 16);
}

button {
  width: auto;
  height: auto;
  outline: none;
  background-color: inherit;
  border: 0;
}

input,
textarea {
  border: 0;
  outline: none;
  border-bottom: 1px solid #000;
}
input::placeholder,
textarea::placeholder {
  color: #dadada;
  font-size: 14px;
}

.section-title {
  width: 100%;
  position: relative;

  color: #3b3b3b;
  font-weight: 400;
}
.section-title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -60px;
  width: 40px;
  height: 2px;
  background-color: #3b3b3b;
}
