/* GENERAL */
.about {
  width: 100%;
  position: relative;
  padding: 180px var(--padding);
  padding-bottom: 0;
  color: #adadad;
}
/* BG
==================== */
.background-text__about {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: -1;
  writing-mode: tb-rl;
  transform: rotate(0deg) translateX(-50%);
  background-color: #fff;
  opacity: 0.1;
}
/* INNER
====================== */
.about__inner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-photo {
  flex: 1 0 300px;
  display: flex;
  padding: 0 var(--padding);
}
.about-text {
  flex: 2 0 300px;
  padding-left: 10px;
  padding: 0 var(--padding);
}
/* style */
.about-photo__left-name {
  display: flex;
  margin-right: 40px;
  align-content: flex-end;
}
.about-photo__left-name p {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  color: #999999;
  text-transform: uppercase;
}
.about-photo__content {
  position: relative;
  width: 60%;
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 11px 9px 20px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}
.about-photo__content img {
  filter: hue-rotate(270deg);
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  transition: all 10s ease-in-out;
}
.about-photo__content img:hover {
  filter: hue-rotate(5080deg);
}
.about-photo__content p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  color: #aeaeae;
}
.about-text__title {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: right;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}
.about-text__description {
  text-align: justify;
  color: #fff;
}

/* SKILLS
============================================= */
/* bg */
.bg-rect {
  border: 40px solid #121212;
  transform: rotate(30deg);
  position: absolute;
}
.bg-rect:first-of-type {
  width: 170px;
  height: 170px;
  left: 60%;
  top: 40px;
}
.bg-rect:last-of-type {
  width: 120px;
  height: 120px;
  left: 80%;
  top: 300px;
}
.skills {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding);
  padding-top: 100px;
}
.skill {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 60px;
}
.skills-inner {
  display: flex;
  flex-wrap: wrap;
}
.skill-box {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill-box > p {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  margin-bottom: 40px;
}
.skill-box > ul li {
  list-style: none;
  color: #999999;
  position: relative;
  margin-bottom: 20px;
}
.skill-box > ul li:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -60px;
  width: 2 0px;
  height: 1px;
  background-color: #3b3b3b;
  transition: all 1s ease;
}
.skill-box > ul li:hover::before {
  left: -70px;
}
