/* GENERAL */
.about {
  width: 100%;
  position: relative;
  padding: 180px var(--padding);
  padding-bottom: 0;
  color: #adadad;
}
/* BG
==================== */
.background-wrapper__about {
  z-index: -5;
}
.background-text__about {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: -1;
  writing-mode: tb-rl;
  transform: rotate(0deg) translateX(-50%) translateY(10%);
  opacity: 1;
}

/* INNER
====================== */
.about__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-photo {
  flex: 1 0 300px;
  display: flex;
}
.about-text {
  flex: 2 0 450px;
  padding-left: 50px;
}
/* style */

.about-photo__content {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 3px;
  box-shadow: 11px 9px 20px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}
@media (min-width: 1200px) {
  .about-photo__content {
    height: 420px;
  }
}
.about-photo__content img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  transition: all 10s ease-in-out;
  position: relative;
}

.about-photo__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.2;
  background-color: #111;
}

.about-photo__content p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to top,
    rgba(17, 17, 17, 0.9),
    rgba(17, 17, 17, 0)
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  color: #aeaeae;
}
.about-text__title {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: right;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 885px) {
  .about-text__title {
    text-align: left;
  }
  .about-text {
    padding-left: 0;
  }
}
.about-text__description {
  letter-spacing: 0.2px;
  text-align: justify;
  color: #aeaeae;
  font-size: 18px;
}

/* SKILLS
============================================= */
/* bg */
.bg-rect {
  border: 40px solid #121212;
  transform: rotate(30deg);
  position: absolute;
}
.bg-rect:first-of-type {
  width: 170px;
  height: 170px;
  left: 60%;
  top: 40px;
}
.bg-rect:last-of-type {
  width: 120px;
  height: 120px;
  left: 80%;
  top: 300px;
}
/*  */
.skills {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding);
  padding-top: 100px;
}
.skill {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.skills-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% + 120px);
  padding-left: calc(20% + 60px);
  padding-right: calc(20% + 60px);
}
.skills__item {
  list-style: none;
  color: #999999;
  position: relative;
  margin-bottom: 20px;
  min-width: 200px;
  transition: all 0.4s ease;
  user-select: none;
}

.skills__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 20px;
  height: 1px;
  background-color: #3b3b3b;
  transition: all 1s ease;
}
.skills__item:hover::before {
  left: -50px;
  width: 30px;
}
.skills__item:hover {
  color: #fff;
}
