/* FONTS
=========================== */

/* GENERAL
  =========================== */
.other-works {
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}
.other-works__info-container {
  position: relative;
  padding: 0 var(--padding);
  z-index: 10;
}

/* BG TEXT
  =========================== */
.bg-text__after-portfolio {
  opacity: 0.3;
  font-family: "assc";
  font-size: 300px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 3px #444;
  text-transform: uppercase;
}
.background-text__slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* TEXT UNDER SLIDER 
  =========================== */
.other-works__subtitle {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 80px;
}
.other-works__deskription {
  text-align: justify;
  font-weight: 400;
  color: #999999;
  margin-bottom: 120px;
}
@media (mas-width: 500px) {
  .section-title {
    font-size: 25px;
  }
}
/* SLIDER
  =========================== */
.other-works__wrapper {
  width: 100%;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: visible;
}
.swiper-wrapper {
  position: relative;
  z-index: 50;
}

/* mouse move effect */
.work-item {
  position: relative;
  display: flex;
  width: 80%;
  max-width: 600px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 200;
}
.work-item__content-col {
  width: 100%;
  height: 100%;
}
.work-item__content {
  position: absolute;
  height: 100%;
  z-index: 2;
  width: 100%;
}
.work-item__counter {
  position: absolute;
  font-size: 36px;
  color: #fff;
  right: 10px;
  top: 0;
  transform: translateY(-60%);
}
.work-item__text {
  position: absolute;
  bottom: -23px;
  width: 100%;
  left: 50px;
  overflow: hidden;
}
.work-item__title {
  text-transform: uppercase;
  font-size: 35px;
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.work-item__title::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  transform: translateY(-50%) translate(-100%);
  transition: all 0.4s ease;
}
.work-item__title:hover::after {
  transform: translateY(-50%) translate(0%);
}
.work-item__description {
  color: #999999;
  text-transform: uppercase;

  font-size: 23px;
}
@media (max-width: 1000px) {
  .work-item__counter {
    font-size: 30px;
  }
  .work-item__title {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
  }
  .work-item__description {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .work-item__counter {
    font-size: 25px;
  }
  .work-item__title {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
  }
  .work-item__description {
    font-size: 16px;
  }
}
.work-item__img-col {
  flex-basis: 10%;
  box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.35);
}

.work-item__img-col {
  width: 100%;
  height: 100%;
}
.work-item__img-col::after {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(11, 11, 11, 0.1), rgba(11, 11, 11, 1));
  position: absolute;
  top: 0;
  left: 0;
}

.work-item__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
