/* Background-wrapper */
.background-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.bg-title {
  z-index: 1;
  opacity: 1;
  letter-spacing: 0.1em;
  text-shadow: 0px 0 20px rgba(0, 0, 0, 0.2);
  font-family: "assc";
  font-size: 200px;
  color: transparent;
  -webkit-text-stroke: 4px #151515;
  text-transform: uppercase;
}

/* Shapes */
.bg-rect {
  border: 40px solid #121212;
  position: absolute;
  width: 220px;
  height: 220px;
}

.bg-circle {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  border: 30px solid #121212;
}

/* GRID */
.grid {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  top: 0;
}
.grid__line {
  position: relative;
  height: 100%;
  width: 1px;
  background-color: #212121;
  overflow: hidden;
}
/* lightLine */

.lightLine {
  background-color: #666;
  height: 200px;
  width: 1px;
  position: absolute;
  transform: translateY(-100%);
}
.lightLine--active {
  animation: 1s gridLine 1s linear infinite;
}
@media (max-width: 786px) {
  .grid {
    display: none;
  }
  .background-line-group {
    display: none;
  }
}
/* Line group */
.background-line-group {
  position: absolute;
  width: 400px;
  height: 400px;
}
.background-line-group img {
  width: 100%;
  height: 100%;
  background-size: contain;
  object-fit: contain;
}
/* Line group */

@keyframes gridLine {
  0% {
    transform: translateY(-100%);
    height: 200px;
    opacity: 0.5;
  }
  50% {
    transform: translateY(400%);
    height: 200px;
    opacity: 1;
  }
  100% {
    transform: translateY(900%);
    height: 200px;
    opacity: 0.5;
  }
}
