.contact {
  width: 100%;
  padding: 0 var(--padding);
  position: relative;
  padding-top: 100px;
  background: url("../img/petersburg.jpg");
  background-size: cover;
  background-position: center;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(17, 17, 17, 0.95), rgba(17, 17, 17, 1));
}
/* BACKGROUND */
.background-wrapper__contact {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.contact__wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}
.contact__subtitle {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}
.contact__description {
  text-align: center;
  color: #adadad;
}
.contact__description span {
  font-size: 20px;
  -moz-font-feature-settings: "pnum=1,onum=1";
  -ms-font-feature-settings: "pnum" 1, "onum" 1;
  font-feature-settings: "pnum" on, "lnum" on;
  font-style: normal;
}
.contact__social {
  text-align: center;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.social-links__contact {
  margin: auto;
  margin-bottom: 100px;
}
