/* navbar */
nav {
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 60px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
  z-index: 100;
  user-select: none;
}
.js-nav--top {
  position: fixed;
  top: 0;
  z-index: 100000;
}
.navbar-controls {
  display: flex;
}

.navbar-controls > * {
  margin-left: 80px;
}

.nav-links {
  position: absolute;
  background-color: #111;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

.nav-active {
  transform: translateY(0%);
}

/* background section */

.bg-title {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  letter-spacing: 0.1em;
  text-shadow: 0px 0 20px rgba(0, 0, 0, 0.2);
  font-family: "assc";
  font-size: 300px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 4px #151515;
  text-transform: uppercase;
}

.nav-links > ul {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 24px;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .bg-title {
    display: none;
  }
  .nav-links > ul {
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    font-size: 16px;
  }
  .social-links__menu {
    display: none;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(17, 17, 17, 0);
}

.nav-link > a {
  font-weight: 700;
  color: #fff;
  font-size: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(17, 17, 17, 1);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.55);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.social-links__menu {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  z-index: 100;
}

/* BUTTON STYLE 
*******************************/
/* btn container */
.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 16px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
  user-select: none;
}

/* style each line in the burger */
.menu-btn__line {
  width: 100%;
  height: 2px;
  position: relative;
  overflow: hidden;
  transition: all 0.4 ease;
  transform: rotateZ(0deg);
}

.menu-btn__line::after,
.menu-btn__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.4s ease;
}

/* position each line in the burger */
.menu-btn__line:first-of-type::after {
  transform: translateX(-70%) rotateZ(0deg);
}

.menu-btn__line:first-of-type::before {
  transform: translateX(50%) rotateZ(0deg);
}

.menu-btn__line:last-of-type::after {
  transform: translateX(-50%) rotateZ(0deg);
}

.menu-btn__line:last-of-type::before {
  transform: translateX(70%) rotateZ(0deg);
}

/* hover position each line in the burger */
.menu-btn:hover .menu-btn__line:first-of-type::before {
  transform: translateX(70%);
}

.menu-btn:hover .menu-btn__line:first-of-type::after {
  transform: translateX(-50%);
}

.menu-btn:hover .menu-btn__line:last-of-type::before {
  transform: translateX(50%);
}

.menu-btn:hover .menu-btn__line:last-of-type::after {
  transform: translateX(-70%);
}

/* btn-toggle style  */

.menu-btn__line--toggle {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: all 0.4 ease;
  position: absolute;
}

.menu-btn__line--toggle:nth-of-type(2) {
  display: none;
}

.menu-btn__line--toggle:first-of-type {
  animation: burger--toggle__first 0.4s ease;
  transform: rotateZ(45deg);
}

.menu-btn__line--toggle:last-of-type {
  animation: burger--toggle__second 0.4s ease;
  transform: rotateZ(-45deg);
}

@keyframes burger--toggle__first {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
@keyframes burger--toggle__second {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes burger--toggle__end {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes burger--toggle__end {
  0% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
