:root {
  --padding: 60px;
  --padding-second: 180px;
  --title-color: #fff;
  --bg-color: #111;
  --bg-text-color: #121212;
  --text-color: #adadad;
  --padding-section-top: 100px;
  --padding-section-bottom: 100px;
  --font-size__subtitile: 40px;
}
@media (max-width: 800px) {
  :root {
    --padding: 40px;

    --font-size__subtitile: 30px;
  }
}
@media (max-width: 420px) {
  :root {
    --padding: 15px;

    --font-size__subtitile: 24px;
  }
}
